<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>CloudCoder - {{page.title}}</title>
		<link rel="stylesheet" href="/css/cloudcoder.css" />
	</head>

	<body>
		<div id="topnav">
			<a href="/">Home</a>
			<a href="https://github.com/cloudcoderdotorg/CloudCoder/wiki">Wiki</a>
			<a href="https://github.com/cloudcoderdotorg/CloudCoder/wiki/Install">Install</a>
			<a href="https://github.com/cloudcoderdotorg/CloudCoder/wiki/Screenshots">Screenshots</a>
			<a href="/demo.html">Demo Server</a>
			<a href="https://cloudcoder.org/repo">Exercise Repository</a>
			<a href="/opensource.html">Open Source</a>
<img style="position: relative; top: 8px;" alt="CloudCoder logo" src="/img/CloudCoderLogo-tiny.png" />
		</div>

		<div id="content">
		<div id="pageTitle"><div id="pageTitle-inner">{{page.title}}</div></div>
		{{ content }}
		</div>

		<div id="footer">
			&copy; 2012-2014 CloudCoder team
			<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
		</div>
	</body>

</html>
