<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>CloudCoder - {{page.title}}</title>
		<link rel="stylesheet" href="/css/cloudcoder.css" />
	</head>

	<body>
		<div id="topnav">
			<a href="/">Home</a>
			<a href="/screenshots.html">Screenshots</a>
			<a href="/quickstart.html">Quickstart Guide</a>
			<a href="/getstarted.html">Getting Started</a>
			<a href="/demo.html">Demo Server</a>
			<a href="/repository.html">Exercise Repository</a>
			<a href="/contribute.html">Contributing</a>
		</div>

		<div id="content">
		<span id="pageTitle">{{page.title}}</span>
		{{ content }}
		</div>

		<div id="footer">
			&copy; 2012 CloudCoder team
			<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
		</div>
	</body>

</html>
